<h1>Here is a list of all of the workouts.</h1>
<% @workouts.each.with_index(1) do |workout, index| %><br>
<strong>  <%=index%> - <label>Workout Information!</label></strong>
<button style="width:175px; margin:10px; padding:5px; border-color:black; border-radius: 15px;" onclick="window.location.href ='/workouts/<%= workout.id%>';">View This Workout:</button><br>
    <%=workout.name%><br>
    <%=workout.muscle_group%><br>
    <%=workout.duration%><br>
    <%=workout.calories_burned%><br>
    <%if workout.user_id == current_user.id%>
     <form action="/workouts/<%= workout.id %>" method="post">
          <input id="hidden" type="hidden" name="_method" value="delete">
          </form>
        <button style="width:175px; margin:10px; padding:5px; border-color:black; border-radius: 15px;" onclick="window.location.href ='/workouts/<%=workout.id%>/edit';">Edit Workout</button>
         <button style="width:175px; margin:10px; padding:5px; border-color:black; border-radius: 15px;" onclick="window.location.href ='/workouts/<%=workout.id%>';">Delete Workout</button>
    <%end%>
<% end %><br>





