<h1>The list below is a list of your workout statistics!</h1>
<p>If you see an error, please visit the edit link.</p>

<% if @workout.user_id == current_user.id%>
<h4>Oops! I made an error.</h4><br>
<a href="/workouts/<%=@workout.id%>/edit">Edit workout:</a><br>
<%end%><br>

<h2>Type of workout:</h2>
<%=@workout.name%><br>
<h2>Body parts worked:</h2>
<%=@workout.muscle_group%><br>
<h2>Length of workout:</h2>
<%=@workout.duration%><br>
<h2>Amount of calories burnt!</h2>
<%=@workout.calories_burned%><br>

<label>To delete this workout, click delete.</label><br>
<% if @workout.user_id == current_user.id%>
<form action="/workouts/<%= @workout.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form><br>

<% if @workout.user_id == current_user.id%>
<h2>To add a new addition click the link below</h2><br>
<a href="/workouts/new">New workout:</a><br>
<%end%><br>

<%end%>